html, body {
    margin:0;
    font-family:Lato, sans-serif;
}

header {
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #F8F8F8 100%);
    background-repeat: repeat-x;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
    border-bottom: thin solid #E7E7E7;
    position:fixed;
    z-index:20;
    width:100%;
}

h1 {
    font-size:18px;
    color:#777;
    font-weight:normal;
    display:inline-block;
}

h1 img {
    vertical-align:middle;
}

.header_wrapper {
    max-width:1170px;
    margin:auto;
}

header nav {
    display:inline-block;
}

header nav ul {
    list-style-type:none;
}

header nav ul li {
    display:inline-block;
}

header nav ul li a {
    text-decoration:none;
    color:#777;
    padding: 18px;
    line-height: 20px;
    font-size:14px;
}

header nav ul li a:hover {
    border-bottom: 2px solid #777777;
}

.screenshot {
    height:400px;
    width:100%;
    background-image:url(img/CartoStras_-_2014-07-06_18.44.15.png);
    background-size:cover;
    background-position:center;
    position:relative;
    background-attachment: fixed;
}

.slogan {
    text-align:center;
    color:white;
    background-color:rgba(0, 0, 0, 0.7);
    width:100%;
    margin:auto;
    left:0;
    right:0;
    position:absolute;
    bottom:0;
    padding-top:0.2em;
    padding-bottom:0.2em;
    font-size:25px;
}

.slogan img {
    vertical-align:middle;
    margin-right:25px;
}

.desc_wrapper {
    text-align:center;
    font-size:20px;
    background-color:#EEE;
}

.desc {
    width:50%;
    margin:auto;
    padding-top:3em;
    padding-bottom:3em;
}

.desc a {
    text-decoration:none;
    color: #777;
}

.desc a:hover {
    color:rgb(204, 189, 190);
}

.downloads ul {
    list-style-type:none;
    display:table;
    width:100%;
    text-align:center;
    table-layout:fixed;
    padding-left:0;
    margin:0;
}

.downloads li {
    display:table-cell;
    vertical-align:top;
}

.downloads li a {
    width:100%;
    height:100%;
    min-height:220px;
    padding-top:1em;
    padding-bottom:1em;
    display:block;
    text-decoration:none;
    color:black;
}

.downloads li:hover {
    background-color:rgb(204, 189, 190);
}

.downloads .web {
    background-color:white;
}

footer {
    background-color:#808080;
    text-align:center;
    color:white;
    padding-top:1em;
    padding-bottom:1em;
    font-size:20px;
}

footer a {
    text-decoration:none;
    color: #CCC;
}

footer a:hover {
    color:black;
}
